.home {
    max-width: 910px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.home-input {
    max-width: 800px;
    width: 100%;
    height: 29px;
    font-size: 22px;
    border: none;
}
.home-wrapper {
    padding: 15px 20px;
}
.tweet-wrapper {
    display: flex;
    align-items: center;
}
.tweet-btn-wrapper {
    margin-top: 22px;
    margin-left: 70px;
}
.home-title {
    margin: 0 0 0 20px;
}
.tweet-btn {
    padding: 15px 30px;
    border: none;
    border-radius: 120px;
    background-color: #1D9BF0;
    margin-left: auto;
    color: #fff;
}